<!DOCTYPE html>
<html>
<head>
@{
	var title = "Books";
	if (ViewBag.Title != "") {
		title += " - " + ViewBag.Title;
	}
}
<title>@title</title>
<meta charset="utf-8" />
</head>
<body>
	@RenderBody()
</body>
</html>

