<!DOCTYPE html>
<html>
<head>
@{
	var title = "Книжный справочник";
	if (ViewBag.Title != null && ViewBag.Title != "") {
		title = ViewBag.Title + " | " + title;
	}
}
<title>@title</title>
<meta charset="utf-8" />
</head>
<body>
	@RenderBody()
</body>
</html>

